.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  height: 100px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  width: 1250px;
  margin: auto;
  margin-top: 20px;
}

.img {
  width:150px;
  height:100px;
}
img{
  width:100%;
  height:100%;
  border-radius: 5px;
}

.box{
  border: 1px solid;
  padding:10px;
  border-radius: 5px;
  box-shadow: rgba(11, 162, 182, 0.868) 0px 5px 15px;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  /* font-size: 14px; */
}

.ratings{
  background-color: yellowgreen;
  width: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-left: 45px;
}

.right{
  text-align: right;
  margin-right: 5px;
  font-size: 14px;
}

.order{
  border: 1px solid rgb(238, 231, 231);
  border-radius: 5px;
}
.order>div{
  color: rgb(88, 129, 6);
  background-color: rgb(212, 240, 159);
  width: 110px;
  margin-left:290px;
  text-align: right;
}